main{
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  margin: 0 auto;
}
.image-gif{
  border-radius: 12px;
  overflow: hidden;
  // width: 420px;
  height: 400px;
  img{
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    animation: fadeIn 1s ease-in-out;
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
h2.doYou{
  font-size: 3rem;
  font-weight: 700;
  color: #000;
  margin: 30px 0 10px 0;
  text-align: center;
}
#button-flex{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  .btn{
    background-color: #ffa3ae;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    border-radius: 8px;
    width: 90px;
    height: 38px;
    box-shadow: 0 6px 8px #f4bcc3;
    transition: all 0.3s ease-in;
    &:hover{
      transform: scale(1.1);
      transition: top 0.3s ease, left 0.3s ease;
    }
  }
}
#noBtn {
  transition: transform 0.2s ease, top 0.3s ease, left 0.3s ease;
  background-color: #fc344c !important;
}
#yesBtn {
  background-color: #4caf50 !important;
}
.enlarged {
  transform: scale(1.5);
  transition: transform 0.2s ease;
  z-index: 10;
}

#textAfter{
  display: none;
}
@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.pop-in {
  opacity: 0;
  transform: scale(0.8);
  pointer-events: none;
}

.pop-in.show {
  opacity: 1;
  animation: popIn 0.5s ease forwards;
  pointer-events: auto;
  display: block !important;
}
.message{
  font-size: 1.6rem;
  font-weight: 700;
  color: #ff758a;
  margin-bottom: 40px;
}

#heart-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.heart {
  position: absolute;
  font-size: 24px;
  animation: fall 5s linear infinite;
}

@keyframes fall {
  0% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(100vh); opacity: 0; }
}
